:root{
    --left-bar-size: 77px
}

@media screen and (max-width: 747px) {
    /* limit page size */
    body {
        max-width: 100vw !important;
        min-width: 100vw !important;
        overflow: hidden !important;
    }

    /* limit left bar side */
    #app > div > div:nth-of-type(2) > div:nth-of-type(3) {
        max-width: var(--left-bar-size) !important;
    }

    /* Remove search bar */
    #side > div:nth-of-type(1) {
        display: none;
    }

    /* notifications count span */
    #pane-side > div:nth-child(1) > div > div > div > div > div > div > div._8nE1Y > div._2KKXC > div.Dvjym > span:nth-child(1) > div > span{
        transform: translate(-80px, 0) !important;
    }

    /* Remove options dropdown */
    #app > div > div > div._2Ts6i._3RGKj > header > div._604FD{
        display: none !important;
    }

    /* html > body > div:first-of-type > div > div > div:nth-of-type(4) > div > div:first-of-type > div{
        display: none !important;
    } */

    /* Resize text panel */
    html > body > div:nth-of-type(1) > div > div > div:nth-of-type(4){
        max-width: calc(100vw - var(--left-bar-size)) !important;
        overflow: hidden !important;
    }

    /* html > body > div:nth-of-type(1) > div > div > div:nth-of-type(3) > div > div:nth-of-type(2)::-webkit-scrollbar{
        display: none !important;
    } */

    /* Fix page fitting so verticaql scroolbar disappears */
    html > body > div:nth-of-type(1) > div > div {
        max-width: 100vw !important;
        min-width: 100vw !important;
        overflow: hidden !important;
    }

    /* Remove WA for windows ad */
    #side > div:nth-of-type(3) > div > div > div {
        display: none;
    }

    /* drag n drop interface  */
    /* //*[@id="app"]/div/div[2]/div[2]/div[2] */
     /* //*[@id="app"]/div/div[2]/div[5] */
    #app > div > div:nth-of-type(2) > div:nth-child(2) > div:nth-child(2) {
        position: absolute;
        min-width: calc(100vw - var(--left-bar-size));
        max-width: calc(100vw - var(--left-bar-size));
        left: var(--left-bar-size)
    }
}