@media screen and (max-width: 747px) {
    /* limit page size */
    body {
        max-width: 100vw !important;
        min-width: 100vw !important;
        overflow: hidden !important;
    }

    /* limit contact list */
    #app > div > div > div:nth-of-type(4){
        min-width: 77px !important;
        max-width: 77px !important;
    }

    /* ._1pJ9J */    
    #app > div > div > div:nth-of-type(3) > div > div:nth-of-type(2) > div:nth-of-type(1) > div > div > div > div > div > div > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > span:nth-of-type(1) > div {
    /* html > body > div:nth-of-type(1) > div > div > div:nth-of-type(3) > div > div:nth-of-type(2) > div:nth-of-type(1) > div > div > div > div > div > div > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > span:nth-of-type(1) > div { */
        transform: translate(-150%) !important;
    }
    
    /* ._3yWey */
    #app > div > div > div:nth-of-type(3) > div > div:nth-of-type(1) > div{
        display: none !important;
    }

    html > body > div:nth-of-type(1) > div > div > div:nth-of-type(4){
        max-width: calc(100vw - 80px) !important;
        overflow: hidden !important;
    }

    html > body > div:nth-of-type(1) > div > div > div:nth-of-type(3) > div > div:nth-of-type(2)::-webkit-scrollbar{
        display: none !important;
    }

    html > body > div:nth-of-type(1) > div > div {
        max-width: 100vw !important;
        min-width: 100vw !important;
        overflow: hidden !important;
    }

    html > body > div:nth-of-type(1) > div > div > div:nth-of-type(2) > div:nth-of-type(2){
        position: absolute;
        min-width: calc(100vw - 80px);
        max-width: calc(100vw - 80px);
        left: 80px
    }
}